/*Miguel Ángel Sainz Ayuso*/

body{
 /*background-image:url('images/matematicas_maths_ecuaciones.jpg');*/
}

#calc{
	margin-left: auto;
	margin-right: auto;
	margin-top:200px;
	width:350px;
	height:400px;
	border:5px solid black;
	background:#4D4949;
 -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
 border-radius: 20px;
 background-image:url("images/calc.jpg");
 box-shadow: -4px -4px 4px rgba(0,0,0, 0.9);
    
}

#resultado{
	font-size:1.5em; 
	font-family:Verdana;
	border:3px solid black;
	width:300px;
	height:45px;
	margin:40px 20px 40px 20px;
 -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
 border-radius: 10px;
 box-shadow: -3px -3px 3px rgba(105,105,105, 0.9);
}

#resultado:focus{
	background:#2ECCFA;
}

#numeros{
	width:180px;
	float:left;
	padding-left:20px;
}

#operandos{
	width:120px;
	float:right;
	padding-left:10px;
}

#cero{
	cursor:pointer;
	margin-left: 0px;
	float: left;
	width:106px;
	height:50px;
	text-align:center;
	font-size:2.5em;
	font-weight:bold;
	border:3px solid black;
	background:#2ECCFA;
	color:#000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
 box-shadow: -3px -3px 3px rgba(105,105,105, 0.9);
}

#punto{
	width: 30%;
	margin-left: 0px;
	float: left;
}

#uno,#dos,#tres{
	width: 30%;
	margin-left: 0px;
	float: left;
}

#cuatro,#cinco,#seis{
	width: 30%;
	margin-left: 0px;
	float: left;
}

#siete, #ocho, #nueve{
	width: 30%;
	margin-left: 0px;
	float: left;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho, #nueve, #punto{
	cursor:pointer;
	width:50px;
	height:50px;
	text-align:center;
	font-size:2.5em;
	font-weight:bold;
	border:3px solid black;
	background:#2ECCFA;
	color:#000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
 box-shadow: -3px -3px 3px rgba(105,105,105, 0.9);
}

#cero:hover,#uno:hover, #dos:hover, #tres:hover, #cuatro:hover, #cinco:hover, #seis:hover, #siete:hover,#ocho:hover,#nueve:hover,#punto:hover{
	background:#81DAF5;
}


#suma, #resta , #division , #mult, #C , #porc, #igual, #sqrt {
	cursor:pointer;
	width:50px;
	height:50px;
	text-align:center;
	font-size:2.5em;
	font-weight:bold;
	border:3px solid black;
	background:#000000;
	color:#2ECCFA;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
	transition-duration:0.5s;
 box-shadow: -3px -3px 3px rgba(105,105,105, 0.9);
}

#suma:hover, #resta:hover , #division:hover , #mult:hover, #C:hover, #porc:hover, #igual:hover, #sqrt:hover {
	background:#2E2E2E;
}

#suma:active, #resta:active , #division:active , #mult:active, #C:active, #porc:active, #sqrt:active{
	transform:rotate(360deg);
	-moz-transform:rotate(360deg); /* Firefox 4 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */
}

#suma, #resta{
	width: 30%;
	margin-left: 2px;
	margin-bottom:2px;
	float: left;
	height: 50px;
}

#division, #mult{
	width: 30%;
	margin-left: 2px;
	margin-bottom:2px;
	float: left;
	height: 50px;
}

#C, #porc{
	width: 30%;
	margin-left: 2px;
	margin-bottom:2px;
	float: left;
	height: 50px;
}

#igual, #sqrt{
	width: 30%;
	margin-left: 2px;
	margin-bottom:2px;
	float: left;
	height: 50px;
}

